# Dependencies
node_modules/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache files
.eslintcache
.DS_Store
.cache

# Temporary files
*.tmp
temp/
tmp/
*~

# IDE specific files
.idea/
.vscode/
*.swp
*.swo